@page
@model Assignment4.Pages.Sports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].SportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].NoOFPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].FavouritePlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].FavouritePlayerJerseyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport[0].Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOFPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouritePlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouritePlayerJerseyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
